.skillelement {
    position: absolute;
    align-items: center; justify-content: center; display: flex;
}









/* ===================================================================================== */
/*                                       GALAXY                                          */
/* ===================================================================================== */

.skillelement_galaxy {
    align-items: center; justify-content: center; display: flex;
    transition: .3s;
    position: fixed;
}

.runskill_galaxy {
    width: 260px;
    height: 260px;
    opacity: 0;
    scale: 0;
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .1),
        rgba(255, 255, 255, 0)
    );
    border-radius: 100vh;
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 0, .6));
    align-items: center; justify-content: center; display: flex;
    animation: 4s runskill_galaxy forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes runskill_galaxy {
    0% {
        opacity: 0;
        scale: 0;
    }
    12% {
        opacity: 1;
        scale: 1.1;
    }
    18% {
        opacity: 1;
        scale: 1;
    }
    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0;
    }
}

.skillelement_galaxy_orbit1 {
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 1000vh;
    border: .5px solid white;
    align-items: center; justify-content: space-between; display: flex;
    flex-direction: column;
    animation: 2s galaxy_rotating_orbit1 infinite linear;
}

.skillelement_galaxy_planet1_1 {
    position: relative;
    bottom: 8px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: white;
    align-items: center; justify-content: center; display: flex;
    animation: 2s galaxy_rotating_orbit1 infinite linear;
}

.skillelement_galaxy_subplanet1_1 {
    position: relative;
    bottom: 24px;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background: white;
    align-items: center; justify-content: center; display: flex;
}

.skillelement_galaxy_planet1_2 {
    position: relative;
    top: 8px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: white;
    align-items: center; justify-content: center; display: flex;
}

@keyframes galaxy_rotating_orbit1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.skillelement_galaxy_orbit2 {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 1000vh;
    border: .5px solid white;
    align-items: center; justify-content: start; display: flex;
    flex-direction: column;
    animation: 1.6s galaxy_rotating_orbit2 infinite linear;
}

.skillelement_galaxy_planet2 {
    position: relative;
    bottom: 4.5px;
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background: white;
    align-items: center; justify-content: center; display: flex;
}

@keyframes galaxy_rotating_orbit2 {
    0% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(400deg);
    }
}

.skillelement_galaxy_orbit3 {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 1000vh;
    border: .5px solid white;
    align-items: center; justify-content: start; display: flex;
    flex-direction: column;
    animation: .8s galaxy_rotating_orbit3 infinite linear;
}

.skillelement_galaxy_planet3 {
    position: relative;
    bottom: 3px;
    width: 6px;
    height: 6px;
    border-radius: 1px;
    background: white;
    align-items: center; justify-content: center; display: flex;
}

@keyframes galaxy_rotating_orbit3 {
    0% {
        transform: rotate(-80deg);
    }
    100% {
        transform: rotate(280deg);
    }
}

.galaxybullet_initialrotation {
    position: absolute;
    align-items: center; justify-content: center; display: flex;
}

.galaxybullet {
    position: fixed;
    width: 12px; height: 12px;
    border-radius: 4px;
    background: white;
    /* border: 2px solid white; */
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 0, .6));
    display: none;
}

.pushgalaxybullet {
    display: flex;
    animation: pushbullet 2s forwards linear;
}

/* ===================================================================================== */
/* ===================================================================================== */













/* ===================================================================================== */
/*                                  LIGHT PARTICLE                                       */
/* ===================================================================================== */

.skillelement_lightparticle {
    position: fixed;
    top: 0px; left: 0px;
    align-items: center; justify-content: center; display: flex;
}

.runskill_lightparticle {
    all: unset;
    position: fixed;
    z-index: 105;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 400px;
    background: linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05), rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 0, .6));
    align-items: center; justify-content: center; display: flex;
    animation: 4s runskill_lightparticle forwards cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: left;
}

@keyframes runskill_lightparticle {
    0% {
        transform: scaleX(0);
    }
    20% {
        transform: scaleX(1);
    }
    80% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.lightparticlebullet {
    position: absolute;
    left: -80px;
    width: 80px;
    height: 6px;
    border: 2px solid white;
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 0, .6));
    border-radius: 20px;
    display: flex;
    position: fixed;
}

.lightparticlebullet_verticalposition {
    position: fixed;
    left: -80px;
}

.push_lightparticle_bullet {
    animation: pushbullet 1.5s forwards linear;
}

.lightparticlebullet_child {
    border: 2px solid white;
    width: 8px; height: 8px;
    border-radius: 2px;
}

.lightparticlebullet_child_goingleft {
    animation: 2s lightparticlebullet_child_goingleft forwards linear;
}


@keyframes lightparticlebullet_child_goingleft {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-400px);
    }
}

/* ===================================================================================== */
/* ===================================================================================== */













/* ===================================================================================== */
/*                                      BUTTERFLY                                        */
/* ===================================================================================== */

.skillelement_butterfly {
    align-items: center; justify-content: center; display: flex;
    position: fixed;
}

.runskill_butterfly {
    all: unset;
    z-index: 105;
    position: fixed;
    height: 300px;
    width: 300px;
    align-items: center; justify-content: center; display: flex;
    border-radius: 100vh;
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .05),
        rgba(255, 255, 255, 0)
    );
    filter: drop-shadow(0px 0px 16px rgba(0, 217, 255, 0.6));
    animation: 4s runskill_butterfly forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes runskill_butterfly {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    10% {
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.5);
    }
}
    
.skillelement_butterfly_child {
    height: 100%;
    width: 100%;
    align-items: center; justify-content: center; display: flex;
    border-radius: 100vh;
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .2),
        rgba(255, 255, 255, 0)
    );
    filter: drop-shadow(0px 0px 16px rgba(0, 217, 255, 0.6));
    animation: 1s skillelement_butterfly_child infinite linear;
}

@keyframes skillelement_butterfly_child {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.skillelement_butterfly_element_container {
    position: fixed;
    align-items: center; justify-content: center; display: flex;
}

@keyframes butterfly_rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.skillelement_butterfly_element {
    position: fixed;
    align-items: center; justify-content: center; display: flex;
    transition: .5s;
    animation: 1s butterfly_opacity infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* animation-delay: .5s; */
}

@keyframes butterfly_opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}

.skillelement_butterfly_element svg {
    position: absolute;
    animation: .3s butterfly_flying infinite cubic-bezier(0.39, 0.575, 0.565, 1);
    scale: .6
}

@keyframes butterfly_flying {
    0% {
        transform: scaleX(1.4) scaleY(1);
    }
    50% {
        transform: scaleX(.2) scaleY(1.3);
    }
    100% {
        transform: scaleX(1.4) scaleY(1);
    }
}

/* ===================================================================================== */
/* ===================================================================================== */













/* ===================================================================================== */
/*                                   INTERCONNECTION                                     */
/* ===================================================================================== */

.skillelement_interconnection {
    position: fixed;
    top: 0px; left: 0px;
    align-items: center; justify-content: center; display: flex;
}

.runskill_interconnection {
    all: unset;
    position: fixed;
    z-index: 105;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 400px;
    background: linear-gradient(to left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .03), rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 0, .3));
    align-items: center; justify-content: center; display: flex;
    animation: 4s runskill_interconnection forwards cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right;
}

.skillelement_interconnection_leftshine {
    position: fixed;
    z-index: 105;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 400px;
    background: linear-gradient(to right, rgba(255, 255, 255, .1), rgba(255, 255, 255, .03), rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 0, .3));
    align-items: center; justify-content: center; display: flex;
    animation: 4s runskill_interconnection forwards cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: left;
}


@keyframes runskill_interconnection {
    0% {
        transform: scaleX(0);
    }
    20% {
        transform: scaleX(1);
    }
    80% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.skillelement_interconnection_pointscontainer {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%;
    height: 100vh;
    animation: 4s skillelement_interconnection_pointscontainer forwards cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes skillelement_interconnection_pointscontainer {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.skillelement_interconnection_point_scalestretch {
    position: fixed;
    align-items: center; justify-content: center; display: flex;
    transform: scaleX(.5);
}

.skillelement_interconnection_point {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    background: white;
    /* border: 2px solid white; */
    filter: drop-shadow(0px 0px 16px rgba(255, 255, 0, .3));
    transform: rotate(45deg);
}